.addMonster {
	height: 44rem;
	overflow: hidden;
	transition: all 1s;
	& h2 {
		width: 100%;
	}
	&__input--mon {
		font-size: 2rem;
		width: $fullwidth;
		margin: 1rem;
		border: 4px inset;
		& > div {
			border-radius: 0;
		}
	}
	&__input--num {
		width: $halfwidth;
		padding: 1rem 2rem;
	}
	& button {
		width: $halfwidth;
	}
	&.hidden {
		height: 0;
		visibility: hidden;
	}
}
