.addMonster {
	display: flex;
	flex-wrap: wrap;
	& h2 {
		text-align: center;
		font-size: 2.4rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $color-yellow;
		margin: 1rem;
		width: 100%;
		color: $color-yellow;
	}
	&__input--mon {
		font-size: 2rem;
		width: 100%;
		margin: 1rem;
		border: 4px inset;
		& > div {
			border-radius: 0;
		}
	}
	&__input--num {
		font-size: 2rem;
		width: calc(50% - 2rem);
		margin: 1rem;
		text-align: center;
		font-family: "Germania One", cursive;
		border: 4px inset;
		outline: none !important;
	}
	& input:focus {
		background-color: $shadow-yellow-light;
		color: $color-white;
	}

	& button {
		width: calc(50% - 2rem);
		padding: 1rem 2rem;
		font-size: 2rem;
		font-family: "Germania One", cursive;
		border: 4px outset;
		margin: 1rem;
		background-color: $color-yellow;
		outline: none !important;
	}
	& button:active {
		border-style: inset;
		padding: 1.2rem 1rem 0.8rem 1rem;
		background-color: $color-yellow-dark;
	}
}
