.addMonster {
	height: 19.6rem;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	transition: all 1s;
	& h2 {
		width: 100%;
	}
	&__input--mon {
		font-size: 2rem;
		width: 100%;
		margin: 1rem;
		border: 4px inset;
		& > div {
			border-radius: 0;
		}
	}
	&__input--num {
		font-size: 2rem;
		width: calc(50% - 2rem);
		margin: 1rem;
		text-align: center;
		font-family: "Germania One", cursive;
		border: 4px inset;
		outline: none !important;
	}
	& input:focus {
		background-color: $shadow-yellow-light;
		color: $color-white;
	}
	& button {
		width: calc(50% - 2rem);
	}
	&.hidden {
		height: 0;
		visibility: hidden;
	}
}
