.combatTable {
	color: $color-black;
	background-color: $shadow-white;
	border-spacing: 0;
	width: 100%;
	text-align: center;
	&__container {
		overflow-x: auto;
		width: 100%;
		@include respond(tablet) {
			flex: 1;
			overflow-x: hidden;
		}
	}
	&__header {
		color: $color-yellow;
		background-color: $color-black;
		& th {
			padding: 1rem 0rem;
		}
	}
	& tr:nth-child(odd) > td {
		background-color: $shadow-black;
		color: $color-white;
	}
	& tr :not(:nth-child(1)) {
		border-left: 1px solid $shadow-black-light;
	}
	& tr :nth-child(4) {
		width: 12rem;
	}
	& tr :nth-child(5) {
		width: 12rem;
	}
	& tr > :nth-child(1),
	& tr > :not(:nth-child(-n + 5)) {
		width: 8rem;
	}
	& input {
		width: 10rem;
		padding: 1rem 0rem;
	}
	& button {
		width: 6rem;
		color: $color-white;
	}
	& .initBtn {
		color: $color-black;
	}
	& .healBtn {
		background-color: $color-green;
	}
	& .dmgeBtn {
		background-color: $color-red;
	}
	& .deadBtn {
		background-color: $color-black;
	}
}
