.diceRoller {
	height: 44.4rem;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	transition: all 1s;
	& h2 {
		width: 100%;
	}
	& label {
		margin: 1rem;
		width: $halfwidth;
		color: $color-white;
		font-size: 2rem;
	}
	& select {
		width: $halfwidth;
		padding: 0rem 1rem;
	}
	& .diceTray {
		padding: 1rem;
		background: $color-white;
		margin: 1rem;
		text-align: center;
		width: $fullwidth;
		min-height: 100px;
		font-size: 2rem;
		& p:not(:last-child) {
			border-bottom: 3px solid $color-yellow;
			margin-bottom: 4px;
			padding-bottom: 4px;
		}
	}
	&.hidden {
		height: 0;
		visibility: hidden;
	}
}
