.login {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36rem;
	height: 24rem;
	background-color: $color-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0.7rem ridge $color-yellow;
	box-shadow: 0 1rem 2rem $shadow-black;
	// & button {
	// 	width: 90%;
	// }
	& p {
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
	}
}
