.sidebar {
	background-color: $shadow-black-dark;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include respond(tablet) {
		width: 33%;
	}
	& > button {
		width: calc(33.333% - 2rem);
	}
}
