//colors
$color-black: #1d1d1d;
$color-white: #ededed;
$color-red: #c41520;
$color-green: #00781d;
$color-yellow: #ffbf00;
$color-yellow-dark: #cc9900;

//shadows
$shadow-black: rgba(29, 29, 29, 0.5);
$shadow-black-light: rgba(29, 29, 29, 0.25);
$shadow-black-dark: rgba(29, 29, 29, 0.75);
$shadow-white: rgba(255, 255, 255, 0.75);
$shadow-yellow: rgba(255, 191, 0, 0.5);
$shadow-yellow-light: rgba(255, 191, 0, 0.25);
$shadow-yellow-dark: rgba(255, 191, 0, 0.75);

//calc

$fullwidth: calc(100% - 2rem);
$halfwidth: calc(50% - 2rem);
